<p id="notice"><%= notice %></p>
  <section id="works" class="works">
    <div class="container1">
      <div class="section-heading">
        <h1 class="title wow fadeInDown" data-wow-delay=".3s">Latest Works</h1>
      </div>
        <div class="row">
          <% @pages.each do |page| %>
          <div class="col-sm-4 column-xs-1 epz">
            <div class="thumbnails">
              <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                <div class="img-wrapper">
                  <%= image_tag page.avatar.url(:thumb) %>
                    <div class="overlay">
                      <div class="buttons">
                        <%= link_to 'Show', page %>
                          <!-- User login hiij orson tohioldold edit, destroy pathuud haragdana -->
                            <% if user_signed_in? %>
                              <%= link_to 'Edit', edit_page_path(page) %>
                              <%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %>
                            <% end %>
                      </div>
                    </div>
            </div>
                </div>
                  <figcaption>
                    <h4>
                      <%= page.name %>
                    </h4>
                    <h3>
                        <%= page.content.html_safe %>
                    </h3>
                  </figcaption>
                </figure>
            </div>
            <% end %>
          </div>
        </div>
    </div>
    <% if user_signed_in? %>
    <div class="button2">
      <center><p><%= link_to 'NEW CONTENT', new_page_path, :class => "btn btn-default btn-green" %></p></center>
    </div>
    <% end %>
    </section>