<center>
<div class="alert1 alert-info1 releaseInfo">
	<h4>
	  <%= @page.name %>
	</h4>
	
	<h4>
	  <%= @page.content.html_safe %>
	</h4>

		<div class="row">
		  <div class="epz">
            <div class="thumbnails">
                <div class="img-wrapper">
                	
					<%= image_tag @page.avatar.url(:medium) %>
					
</div>
					<div class="button1">
					<center><p><% if user_signed_in? %>
					<%= link_to 'Edit', edit_page_path(@page), :class => "btn btn-default btn-green" %>
					<% end %>
					<%= link_to 'Back', pages_path, :class => "btn btn-default btn-green"%>
					</p>

					<%= render 'disqus' =%>
					
					</center>
					</div>
				</div>
			</div>
		  </div>
		 </div>
</center>
<!-- Hereglegch hevterch orson tohioldold edit heseg haragdana -->
<!-- davhar zagvar -->