  <section id="works" class="works">
    <div class="container1">
      <div class="section-heading">
      <h1 class="title wow fadeInDown" data-wow-delay=".3s">Papers</h1>
      </div>
        <div class="row">
          <% @papers.each do |paper| %>
          <div class="col-sm-4 column-xs-1 epz">
            <div class="thumbnails">
              <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                <div class="img-wrapper">
                    <td><%= paper.name %></td>
                    <td><%= paper.content %></td>
                    <td><%= image_tag paper.image.url(:thumb) %></td>
                    <div class="overlay">
                      <div class="buttons">
                        <%= link_to 'Show', paper %>
                          <!-- User login hiij orson tohioldold edit, destroy pathuud haragdana -->
                            <% if user_signed_in? %>
                              <%= link_to 'Edit', edit_paper_path(paper) %>
                              <%= link_to 'Destroy', paper, method: :delete, data: { confirm: 'Are you sure?' } %>
                            <% end %>
                      </div>
                    </div>
            </div>
                </div>
                  <figcaption>
                    <h4>
                      <%= paper.name %>
                    </h4>
                    <h3>
                        <%= paper.content.html_safe %>
                    </h3>
                  </figcaption>
                </figure>
            </div>
            <% end %>
          </div>
        </div>
    </div>
    </section>