<p id="notice"><%= notice %></p>
<div class="alert1 alert-info1 releaseInfo">
<p>
  <strong>Name:</strong>
  <%= @paper.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @paper.content %>
</p>

<p>
  <string>Image:</strong>
  <%= image_tag @paper.image.url(:medium) %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @paper.slug %>
</p>
</div>

<%= render 'disqus' =%>

<center>
	<div class="button2">
		<p>
        <%= link_to 'Edit', edit_paper_path(@paper), :class => "btn btn-default btn-green" %>
        <%= link_to 'Back', papers_path, :class => "btn btn-default btn-green" %>
        </p>
</center>