<p id="notice"><%= notice %></p>
<center>
<div class="alert1 alert-info1 releaseInfo">

<h3>
  <%= @paper.name %>
</h3>

Vote | <%= @paper.rates("speed").count %> ratings :
   <%= rating_for @paper, "speed", :enable_half => true, :half_show => true, :disable_after_rate => false, :star => 10 %>
<br>

    <div class="row">
      <div class="epz">
            <div class="thumbnails">
                <div class="img-wrapper">
                <%= image_tag @paper.image.url(:medium) %>
                </div>
            </div>
      </div>
    </div>

  <h4>
  <%= @paper.content.html_safe %>
</h4>

</div>
</center>

<%= render 'disqus' =%>

<center>
	<div class="button2">
		<p>
        <%= link_to 'Edit', edit_paper_path(@paper), :class => "btn btn-default btn-green" %>
        <%= link_to 'Back', papers_path, :class => "btn btn-default btn-green" %>
        </p>
</center>